{% extends "base.html" %}
{% block title %}MAC Youth Storage - Sign Out{% endblock %}
{% block content %}
<h1>Sign Out Equipment</h1>
<form>
    <div class="mb-3">
        <label for="userName" class="form-label">Name</label>
        <input type="text" class="form-control" id="userName" required
      </div>
    <div class="mb-3">
      <label for="equipmentName" class="form-label">Equipment Name</label>
      <input type="text" class="form-control" id="equipmentName" required
    </div>
    <div class="mb-3">
      <label for="equipmentQuantity" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="equipmentQuantity" required
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{% endblock %}